<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid px-3">
    <div class="d-flex flex-fill flex-row flex-wrap align-items-center justify-content-between">
      
        <div class="col">
        <a class="navbar-brand p-0" href="\dashboard">
          <i class="fas fa-sign-out-alt fa-2x link-secondary"></i>
        </a>
        </div>
        
      <div class="col d-flex justify-content-center">
        <% @test.questions.each_with_index do |quesiton, index| %>
        
        <% if @test.questions[index].id == @question.id %>
        <div class="col px-0">
          <ul class="pagination pagination-sm my-auto nav">
            <li class="page-item active"><a class="page-link active" 
            href=<%= test_question_path(@test.id, @test.questions[index].id) %>>
            <%= index + 1 %></a></li>
          </ul>
        </div>
        
      <%else%>
        
        <div class="col px-0">
          <ul class="pagination pagination-sm my-auto nav">
            <li class="page-item"><a class="page-link" 
            href=<%= test_question_path(@test.id, @test.questions[index].id) %>>
            <%= index + 1 %></a></li>
          </ul>
        </div>
        
          <% end %>
      <% end %>
      </div>
  
        
        <div class="col text-nowrap text-end">
          <button class="btn btn-primary btn-lg" type="submit" form="response form">
            Next <i class="fas fa-chevron-circle-right fa-1x"></i>
          </button>
          
      </div>
    </div>
  </div>
</nav>

