
<!--<header class="container">-->
<!--  <div class="row justify-content-center">-->
    <nav class="navbar navbar-expand-md navbar-light bg-light bg-gradient shadow-sm col-12">
      <div class="container-fluid">
        <a class="navbar-brand p-0" href="/">
            <div class="link-info">
              <i class="fas fa-graduation-cap fa-2x"></i>
                  <span class="fs-4 fw-bold align-text-bottom" id="font-logo">SATsucceed</span>
            </div>
        </a>
        <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
        <!--  <span class="navbar-toggler-icon"></span>-->
        <!--</button>-->
        <div class="justify-content-end">
          
        <ul class="navbar-nav align-items-center"> 
            
            <li class="nav-item px-2 h5 m-0">
              <p class="text-center m-0" id="stopwatch">
                00:00:00
              </p>
            </li>
          
            <li class="nav-item px-2">
              <i class="far fa-clock fa-2x"></i>
            </li>
            
            <li class="nav-item px-2">
              <div class="link-dark">
                <i class="far fa-pause-circle fa-2x"></i>
              </div>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>
<!--  </div>-->
<!--</header>  -->
  
