<p><%= question.prompt %></p>

<%
choices = {A: question.A, B: question.B, C: question.C, D: question.D}
choices.each do |key, value|
%>
  <div class = "custom-control custom-radio" >
    <%= key  %>) <%= value %>
  </div>
<% end %>