<% provide(:title, "About") %>

<h1>About</h1>
<p>
  SATsucceed is an app that trains you how to succeed on the SAT. To get started, go to the "App" tab. The program will then run a diagnostic test. After completing the diagnotic, the app will report your score and immeidately begin training you to improve your score.
</p>

<h2>Why SATsucceed?</h2>

<p>Do you have the feeling that you understand all the content, but you still can't get your target score? We've been there. It turns out the problem isn't you, but your test prep program. Most teachers teach you the concepts tested on the SAT, which is great for understanding. But the SAT isnt just testing your understanding - it's testing whether you can recongnize what's being tested and whether you can consistently reproduce the right answers. That's all output, not the input that test prep programs normally focuse on. SATsucceed is different - we don't teach you the concepts, but how to get the right answers. </p>

<h2>How does the app work?</h2>

<p>
    SATsucceed analyzes your answers to SAT questions and uses its prioprietary algorithms to determine <em>why</em> you got the problem wrong and then trains you to overcome your mistakes by training you with elite test-taking techniques. SATsucceed will target your biggest areas for improvement first to give you the biggest score increase as quickly as possible. If you still haven't achieved your target test score, just keep using the app and you will keep improving. SATsucceed only stops when you stop.
</p>