<div class="center jumbotron">
    <h1>Welcome to SATsucceed</h1>


      <a href="/signup">
    <i class="fas fa-graduation-cap fa-9x", id="logo-symbol"></i>
      </a>
    
    <h2>
        Get the training you need to succeed on the SAT.
    </h2>

      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

