<div class="center jumbotron centered">
    <h1>Welcome to SATsucceed</h1>


      <a href="/signup">
    <i class="fas fa-graduation-cap fa-9x"></i>
      </a>
    
    <h2 class="tagline">
        Get the training you need to succeed on the SAT
    </h2>

      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

