<% provide(:title, 'Dashboard') %>

<div class="row justify-content-center">
  <aside class="col-6">
    <h1 class="text-center">Welcome to SATsucceed</h1>
    <p class="text-center">Your training begins now</p>
  </aside>
</div>




        <%= link_to "Begin Assessment", "/questions/1" , class: "btn btn-lg btn-warning 
        mt-4 col-4 offset-4" %>
      

