<% provide(:title, 'Dashboard') %>

<div class="row justify-content-center flex-fill gx-0 py-5 ">
  
  <div class="col-6 text-center">
    <h1>Welcome to SATsucceed</h1>
    <p>Your training begins now</p>
         <%= link_to "Begin Assessment", "/questions/1" , class: "btn btn-lg btn-warning 
          col-8" %>
  </div>


      
</div>
