 <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar fixed-top" 
      style="height: 100vh">
      <div class="position-sticky pt-3">
        
        <ul class="nav flex-column">
          
        <a class="navbar-brand p-0 text-center" href="/dashboard">
          <div class="link-info">
            <i class="fas fa-graduation-cap fa-2x"></i>
                <p class="fs-5 fw-bold mb-0" id="font-logo">SATsucceed</p>
          </div>
        </a>
      </ul>
          
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1
                   border-3 border-bottom">
          <span class="fs-3 ps-2 mb-2 text-info fw-bold">Review</span>
        </h6>
      
        
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link link-secondary" href="/dashboard/review/concepts">
              <i class="fas fa-lightbulb fa-2x" style="width: 50px"></i>
              <span class="fs-5 align-text-bottom" id="font-logo">Concepts</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary" href="/dashboard/review/strategies">
              <i class="fas fa-chess-knight fa-2x" style="width: 50px"></i>
               <span class="fs-5 align-text-bottom" id="font-logo">Strategies</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary" href="/dashboard/review/results">
              <i class="far fa-chart-bar fa-2x" style="width: 50px"></i>
              <span class="fs-5 align-text-bottom" id="font-logo">Results</span>
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1
                   border-3 border-bottom">
          <span class="fs-3 ps-2 mb-2 text-info fw-bold">Train</span>
        </h6>
        
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link link-secondary" href="/dashboard/train/concepts">
              <i class="fas fa-bolt fa-2x" style="width: 50px"></i>             
              <span class="fs-5 align-text-bottom" id="font-logo">Concepts</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary" href="/dashboard/train/strategies">
              <i class="fas fa-book-dead fa-2x" style="width: 50px"></i>
              <span class="fs-5 align-text-bottom" id="font-logo">Strategies</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary" href="/dashboard/train/questions">
              <i class="fas fa-dumbbell fa-2x" style="width: 50px"></i>
              <span class="fs-5 align-text-bottom" id="font-logo">Questions</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary" href="/dashboard/train/tests">
              <i class="fas fa-grin-beam-sweat fa-2x" style="width: 50px"></i>
              <span class="fs-5 align-text-bottom" id="font-logo">Tests</span>
            </a>
          </li>
        </ul>
        
        
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1
                   border-3 border-bottom">
          <span class="fs-3 ps-2 mb-2 text-info fw-bold">Plan</span>
        </h6>
        
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link link-secondary" href="/dashboard/plan/study">
              <i class="fas fa-calendar-alt fa-2x" style="width: 50px"></i>              
              <span class="fs-5 align-text-bottom" id="font-logo">Study</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary" href="/dashboard/plan/level_up">
              <i class="fas fa-dragon fa-2x" style="width: 50px"></i>
            <span class="fs-5 align-text-bottom" id="font-logo">Level Up</span>           
            </a>
          </li>
        </ul>
        
        
      </div>
    </nav>