 <div class="d-flex justify-content-between flex-wrap bg-white
      flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom sticky-top">
      
      
         <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <span class="nav-link">
            <a>
               <i class="fas fa-bars fa-3x" style="width: 50px"></i>
            </a> 
              <span class="ms-2 fs-3 align-text-bottom text-dark" id="font-logo">
                Dashboard | Home</span>
             </span>
 
          </li>
        </ul>
      
      <ul class="nav">
        <li class="nav-item text-center">
            <a class="nav-link link-secondary p-0" href="#">
              <i class="fas fa-cog fa-2x" style="width: 50px"></i>
            <p class="fs-5 align-text-bottom mb-0" id="font-logo">Settings</p>           
            </a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link link-secondary p-0 ms-3" href="#">
              <i class="fas fa-user fa-2x" style="width: 50px"></i>
            <p class="fs-5 align-text-bottom mb-0" id="font-logo">Account</p>           
            </a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link link-secondary p-0 ms-3" href="#">
              <i class="fas fa-power-off fa-2x" style="width: 50px"></i>
            <p class="fs-5 align-text-bottom mb-0" id="font-logo">Log Out</p>           
            </a>
        </li>
      </ul>
        
      </div>