<% provide(:title, 'Preferences') %>
<h1>Preferences</h1>

<h2>Change Display Preferences</h2>
<p>Offer features like resetting questions? will have to figure out</p>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.email %>
      </h1>
    </section>
  </aside>
</div>