<h1>Choose A Type of Test to Take</h1>

<h2>SAT Tests</h2>



<ul>
  <% @tests.each do |test| %>
  <li>
    <a href ="/tests/<%= test.id %>">
      Take Practice Test <%= test.name %>
    </a>
    <br>
    <a href ="/tests/<%= test.id %>/edit">
      Edit Test 
  </li>
  <% end %>
</ul>


<ul>
    <li>
    <a href ="/tests/new">
      Create New Test
    </a>
</ul>