<% provide(:title, "Question Time!") %>

<div class="row flex-fill gx-0 py-4">
  <div class="col-lg-6 px-5 border-end border-light border-5 rounded">
    <!--<h1 class="mb-3 text-center">Question</h1>-->
    
    
    <p class="fs-5">
      <%= @test.name %>
    </p>
       
<!--    <p class="fs-5">   -->
<!--\[m = { {\displaystyle {r \over 1,200} (1+ {r \over 1,200})^N} \over (1+ \displaystyle {r \over 1,200})^N -1}\]-->
<!--    </p>-->
    
  </div>


  <!--<div class="col-lg-6 px-5 justify-content-center">-->
   <!--<h1 class="mb-3 text-center fs-4">Answer Options</h1>-->


  <!--    <div class="row py-2 border-bottom border-top border-light border-5 rounded" >-->
  <!--      <button type="button" class="btn btn-outline-primary border-0 text-start d-flex align-items-center">-->
  <!--          <div class="badge rounded-3 d-block bg-secondary fs-4" style="width: 50px">-->
  <!--           <span class="align-text-top m-0">A</span>-->
  <!--          </div>-->
          
  <!--       <div class="col pb-1">-->
  <!--         <span class="fs-3 text-dark d-inline-block border-0 ps-4">-->

  <!--        </span>-->
  <!--      </div>-->
  <!--      </button>-->
  <!--    </div>-->
        
  <!--    <div class="row py-2 border-bottom border-light border-5 rounded" >-->
  <!--      <button type="button" class="btn btn-outline-primary border-0 text-start d-flex align-items-center">-->
  <!--        <div class="badge rounded-3 d-block bg-secondary fs-4" style="width: 50px">-->
  <!--         <span class="align-text-top">B</span>-->
  <!--        </div>-->
  <!--       <div class="col pb-1">-->
  <!--         <span class="fs-3 text-dark d-inline-block ps-4">-->

  <!--        </span>-->
  <!--      </div>-->
  <!--      </button>-->
  <!--    </div>-->
      
  <!--    <div class="row py-2 border-bottom border-light border-5 rounded" >-->
  <!--      <button type="button" class="btn btn-outline-primary border-0 text-start d-flex align-items-center">-->
  <!--        <div class="badge rounded-3 d-block bg-secondary fs-4" style="width: 50px">-->
  <!--         <span class="align-text-top">C</span>-->
  <!--        </div>-->
  <!--       <div class="col pb-1">-->
  <!--         <span class="fs-3 text-dark d-inline-block ps-4">-->

  <!--        </span>-->
  <!--      </div>-->
  <!--      </button>-->
  <!--    </div>-->
      
            
  <!--    <div class="row py-2 border-bottom border-light border-5 rounded" >-->
  <!--      <button type="button" class="btn btn-outline-primary border-0 text-start d-flex align-items-center">-->
  <!--        <div class="badge rounded-3 d-block bg-secondary fs-4 px-3" style="width: 50px">-->
  <!--         <span class="align-text-top">D</span>-->
  <!--        </div>-->
  <!--       <div class="col pb-1">-->
  <!--         <span class="fs-3 text-dark d-inline-block ps-4">-->

  <!--        </span>-->
  <!--      </div>-->
  <!--      </button>-->
  <!--    </div>-->
      
  <!--    <div class="row py-2 border-bottom border-light border-5 rounded" >-->
  <!--      <button type="button" class="btn btn-outline-primary border-0 text-start d-flex align-items-center">-->
  <!--        <div class="badge rounded-3 d-block bg-secondary fs-4 px-3" style="width: 50px">-->
  <!--         <span class="align-text-top">?</span>-->
  <!--        </div>-->
  <!--       <div class="col pb-1">-->
  <!--         <span class="fs-3 text-dark d-inline-block ps-4">-->
  <!--          I don't know-->
  <!--        </span>-->
  <!--      </div>-->
  <!--      </button>-->
  <!--    </div>-->
 

  </div>
</div>


