<footer class="footer">
  <small>
      <a href="/" id="logo">SATsucceed
      <i class="fas fa-graduation-cap fa-2x", id="logo-symbol"></i>
      </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",     about_path %></li>
      <li><%= link_to "Support",   support_path %></li>
      <li><%= link_to "Blog",      blog_path %></li>
    </ul>
  </nav>
</footer>


<!--<footer class="footer">-->
<!--  <a class="footer-logo" href="/">-->
<!--    <img src="/images/logo.png" alt="Learn Enough"/>-->
<!--  </a>-->
<!--  <nav>-->
<!--    <ul class="nav-links footer-nav">-->
<!--      {% include nav-links.html %}-->
<!--    </ul>-->
<!--  </nav>-->
<!--  <h3>Learn Enough <span>to Be Dangerous</span></h3>-->
<!--    <ul class="footer-nav social-links">-->
<!--      {% include social-links.html %}-->
<!--    </ul>-->
<!--</footer>-->